<div class="admin-edit">
  <h1>Edytuj slajd</h1>
  <hr><br>
  <h2><%= @slide.title %></h2><br>
  <% if @slide.image.attached? %>
    <%= image_tag rails_blob_path(@slide.image), class: "slide-image" %><br>
  <% end %>
  <p><%= @slide.content %></p>
  <br>
  <%= form_with url: update_slide_path, model: @slide do |f| %>
    <p>Tytuł:</p><br>
    <%= f.text_field :title %><br><br>
    <p>Treść:</p><br>
    <%= f.text_field :content %><br><br>
    <%= f.file_field :image, direct_upload: true %><br><br>
    <%= f.hidden_field :id %>
    <%= f.submit "Zapisz slajd", class: "button button-success" %>
  <% end %>
</div>