<div class="page-header">
  <%= link_to edit_faq_page_path(@page.id) do %>
    <div class="side-control">
      <p>Zmień<br>zdjęcie</p>
    </div>
  <% end %>
  <%= image_tag rails_blob_path(@page.image) if @page.image.attached? %>
  <div class="header-text">
    <%= @page.title %>
  </div>
</div>
<section class="no-padding">
  <div class="middle-button">
    <%= link_to "Dodaj nowe pytanie", add_faq_question_path(@page.id), class: "button button-success" %>
  </div>
  <br>
  <div class="about-container">
    <% @page.faq_questions.each do |question| %>
      <h3><%= question.title %></h3>
      <hr class="no-width-transition">
      <p>
        <%= question.answer %>
      </p>
      <%= link_to "Edytuj pytanie", edit_faq_question_path(question.id), class: "button button-success" %>
      <br>
    <% end %>
  </div>
</section>