<%= form_with url: realizations_admin_post_path do |f| %>
  <%= f.file_field :images, multiple: true, direct_upload: true %>
  <%= f.submit %>
<% end %>
<div id="gallery" class="container">
  <% @realizations.in_groups_of(4, false).each do |group| %>
    <div class="row">
      <% group.each do |realization| %>
        <div class="col">
          <%= link_to rails_blob_path(realization.image), { class: "lightbox" } do %>
          <%= image_tag rails_blob_path(realization.image) %>
          <% end %>
        </div>
      <% end %>
    </div>
  <% end %>
</div>