<div class="page-cover">
  <div class="cut-in">
    <%= image_tag rails_blob_path(@page.image) if @page.image.attached? %>
  </div>
  <div class="header-text">
    <div class="header-background">
      <%= @page.title %>
    </div>
    <div id="scroll-arrow" class="arrow-hover">
      <i class="arrow"></i>
    </div>
  </div>
</div>
<% paragraph = @paragraphs.first %>
<section id="scroll-target" class="no-padding">
  <div class="container">
    <div class="row space-evenly">
      <div class="fifty">
        <% if paragraph.image.attached? %>
          <%= image_tag rails_blob_path(paragraph.image), class: 'side-image' %>
        <% end %>
      </div>
      <div class="fifty about-title align-right">
        <h2 class="about-title"><%= paragraph.title %></h2>
        <hr class="float-right"><br>
        <p><%= paragraph.content %></p>
      </div>
    </div>
  </div>
</section>
<% paragraph = @paragraphs.second %>
<section class="no-padding">
  <div class="container">
    <div class="row space-evenly">
      <div class="fifty about-title align-left">
        <h2><%= paragraph.title %></h2>
        <hr class="float-left"><br>
        <p><%= paragraph.content %></p>
      </div>
      <div class="fifty">
        <% if paragraph.image.attached? %>
          <%= image_tag rails_blob_path(paragraph.image), class: 'side-image' %>
        <% end %>
      </div>
    </div>
  </div>
</section>
<% paragraph = @paragraphs.third %>
<section class="no-padding">
  <div class="container">
    <div class="row space-evenly">
      <div class="fifty">
        <% if paragraph.image.attached? %>
          <%= image_tag rails_blob_path(paragraph.image), class: 'side-image' %>
        <% end %>
      </div>
      <div class="fifty about-title align-right">
        <h2 class="about-title"><%= paragraph.title %></h2>
        <hr class="float-right"><br>
        <p><%= paragraph.content %></p>
      </div>
    </div>
  </div>
</section>
<section class="no-padding">
  <div class="main-header">
    <div class="header-hover">
      <h1 class="title">Tu działamy</h1>
      <hr class="thematic-break">
    </div>
  </div>
  <div class="voivodeships">
    <% @voivodeships.in_groups_of(3, false).each do |group| %>
      <div class="row">
        <% group.each do |voivodeship| %>
          <div class="thirty">
            <div class="container">
              <%= image_tag rails_blob_path(voivodeship.image) if voivodeship.image.attached? %>
              <h2><%= voivodeship.name %></h2>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</section>
