<div class="page-cover">
  <div class="cut-in">
    <%= image_tag "allow/people_company.jpg" %>
  </div>
  <div class="header-text">
    <div class="header-background">
      O nas
    </div>
    <div id="scroll-arrow" class="arrow-hover">
      <i class="arrow"></i>
    </div>
  </div>
</div>


<section id="scroll-target" class="no-padding">
  <div class="container">
    <div class="row space-evenly">
      <div class="fifty">
        <%= image_tag 'card-logo.png', class: 'side-image' %>
      </div>
      <div class="fifty about-title align-right">
        <h2 class="about-title">Kim jesteśmy?</h2>
        <hr class="float-right"><br>
        <p>Green Evolution to firma zajmująca się sprzedażą i instalacją systemów energetycznych i klimatyzacji.</p>
        <p>Wieloletnie doświadczenie jakie zdobyliśmy dało nam możliwość specjalizacji w urządzeniach wykorzystujących
          odnawialne źródła energii.</p>
        <p>
          Proponujemy ekologiczne pompy ciepła, klimatyzacje, urządzenia chłodnicze oraz
          instalacje fotowoltaiczne.
        </p>
      </div>
    </div>
  </div>
</section>

<section class="no-padding">
  <div class="container">
    <div class="row space-evenly">
      <div class="fifty about-title align-left">
        <h2>Co oferujemy?</h2>
        <hr class="float-left"><br>
        <p>Naszym Klientom gwarantujemy kompleksową obsługę każdej inwestycji w zakresie doboru odpowiednich rozwiązań
          przynoszących znaczne oszczędności z użytkowania energii odnawialnej.</p>
        <p>
          W ramach naszych usług dokonujemy uruchomienia zamontowanego systemu wraz ze szczegółowym instruktarzem
          użytkownika dotyczący bezpiecznego i prawidłowego korzystania.</p>
      </div>
      <div class="fifty">
        <%= image_tag 'allow/industry.jpg', class: 'side-image' %>
      </div>
    </div>
  </div>
</section>

<section class="no-padding">
  <div class="container">
    <div class="row space-evenly">
      <div class="fifty">
        <%= image_tag 'allow/teamwork.jpg', class: 'side-image' %>
      </div>
      <div class="fifty about-title align-right">
        <h2 class="about-title">Co gwarantujemy?</h2>
        <hr class="float-right"><br>
        <p>Współdziałamy tylko ze znanymi i cenionymi producentami oferowanych urządzeń.
          Naszym klientom zapewniamy również serwis gwarancyjny i pogwarancyjny.</p>
      </div>
    </div>
  </div>
</section>

<section class="no-padding">
  <div class="main-header">
    <div class="header-hover">
      <h1 class="title">Tu działamy:</h1>
      <hr class="thematic-break">
    </div>
  </div>

  <%= image_tag 'poland_map.png', class: 'map center-image' %>
</section>
