<div class="page-cover">
  <% if user_signed_in? %>
    <%= link_to edit_sub_page_path(@page.id) do %>
      <div class="side-control">
        <p>Zmień<br>zdjęcie</p>
      </div>
    <% end %>
  <% end %>
  <div class="cut-in">
    <%= image_tag rails_blob_path(@page.image) if @page.image.attached? %>
  </div>
  <div class="header-text">
    <div class="header-background">
      <%= @page.title %>
    </div>
    <div id="scroll-arrow" class="arrow-hover">
      <i class="arrow"></i>
    </div>
  </div>
</div>
<% if user_signed_in? %>
  <div class="middle-button">
    <%= link_to "Dodaj certyfikat", add_certificate_path, class: "button button-success" %>
  </div>
<% end %>
<section class="no-padding">
  <div class="main-header">
    <div id="scroll-target" class="header-hover">
      <h2>Zobacz nasze certyfikaty</h2>
      <hr class="thematic-break">
    </div>
  </div>
  <div id="gallery" class="container">
    <div id="realizations">
      <% @certificates.in_groups_of(4, false).each do |group| %>
        <div class="row">
          <% group.each do |certificate| %>
            <div class="col">
              <%= link_to rails_blob_path(certificate.image), {class: "lightbox"} do %>
                <%= image_tag rails_blob_path(certificate.image) %>
              <% end %>
              <% if user_signed_in? %>
                <br><br><%= button_to "Usuń certyfikat", remove_certificate_path(certificate), class: "button button-success contact-submit" %><br><br>
            <% end %>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
    <div id="infinite-scrolling">
      <%= will_paginate @certificates, style: "display: none" %>
    </div>
  </div>
</section>