<div class="page-cover">
  <% if user_signed_in? %>
    <%= link_to edit_sub_page_path(@page.id) do %>
      <div class="side-control">
        <p>Zmień<br>zdjęcie</p>
      </div>
    <% end %>
  <% end %>
  <div class="cut-in">
    <%= image_tag rails_blob_path(@page.image) if @page.image.attached? %>
  </div>
  <div class="header-text">
    <div class="header-background">
      Kontakt
    </div>
    <div id="scroll-arrow" class="arrow-hover">
      <i class="arrow"></i>
    </div>
  </div>
</div>
<% if user_signed_in? %>
  <div class="middle-button">
    <%= link_to "Edytuj informacje kontaktowe", edit_contact_info_path, class: "button button-success" %>
  </div>
<% end %>
<section class="no-padding contact">
  <div class="row">
    <div class="fifty shadow">
      <div class="content">
        <h1>Napisz do nas</h1>
        <hr>
        <%= form_with id: "contact-form", remote: true do |f| %>
          <div class="row">
            <div class="fifty no-margin left">
              <%= f.label :name, "Imię:" %><br>
              <%= f.text_field :name, id: "name", placeholder: "Twoje imię (opcjonalnie)" %>
            </div>
            <div class="fifty no-margin right">
              <%= f.label :phone, "Telefon:" %><br>
              <%= f.text_field :phone, id: "phone", placeholder: "Twój numer (opcjonalnie)" %>
            </div>
          </div>
          <div class="row">
            <div class="fifty no-margin email">
              <%= f.label :email, "Email:" %><br>
              <%= f.text_field :email, id: "email", placeholder: "Twój adres email" %>
            </div>
          </div>
          <div class="row">
            <div class="hundred no-margin">
              <%= f.label :content, "Treść:" %><br>
              <%= f.text_area :content, id: "content", placeholder: "Treść wiadomości" %>
              <%= f.submit "Wyślij wiadomość", id: 'form-submit', class: "ghost-button contact-submit" %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
    <div class="fifty contact-padding shadow">
      <%= image_tag rails_blob_path(@contact.image), class: "contact-img contact-height" %>
      <div class="side-content">
        <div class="row">
          <%= image_tag 'svg/map-pin.svg' %><h3>Nasz adres</h3>
        </div>
        <div class="row sub-text">
          <p><%= @contact.address %></p>
        </div>
        <div class="row">
          <%= image_tag 'svg/phone.svg' %><h3>Telefon&ensp;&ensp;&ensp;</h3>
        </div>
        <div class="row sub-text">
          <p><%= @contact.phone %></p>
        </div>
        <div class="row">
          <%= image_tag 'svg/mail.svg' %><h3>E-Mail&ensp;&ensp;&ensp;&ensp;&ensp;</h3>
        </div>
        <div class="row sub-text">
          <p><%= @contact.email %></p>
        </div>
        <div class="row last">
          <%= image_tag 'svg/hand-plant2.svg' %><h2>Czekamy na ciebie!</h2>
        </div>
      </div>
    </div>
  </div>
</section>
<% if flash[:notice] == 'sent message' %>
  <div id="overlay" class="overlay">
    <div class="popup">
      <h1>Sukces!</h1>
      <p>Twoja wiadomość została wysłana.</p>
    </div>
  </div>
<% end %>