<div class="page-cover">
  <div class="cut-in">
    <%= image_tag rails_blob_path(@page.image) if @page.image.attached? %>
  </div>
  <div class="header-text">
    <div class="header-background">
      Kontakt
    </div>
    <div id="scroll-arrow" class="arrow-hover">
      <i class="arrow"></i>
    </div>
  </div>
</div>


<section class="no-padding contact">
  <%#= image_tag 'plains.jpg' %>

  <div class="row">
    <div class="fifty shadow">
      <div class="content">
        <h1>Napisz do nas</h1>
        <hr>
        <%= form_with url: edit_sub_page_path, id: "contact-form" do |f| %>
          <div class="row">
            <div class="fifty no-margin left">
              <%= f.label :name, "Imię:" %><br>
              <%= f.text_field :name, placeholder: "Twoje imię (opcjonalnie)" %>
            </div>
            <div class="fifty no-margin right">
              <%= f.label :phone, "Telefon:" %><br>
              <%= f.text_field :phone, placeholder: "Twój numer (opcjonalnie)" %>
            </div>
          </div>
          <div class="row">
            <div class="fifty no-margin email">
              <%= f.label :email, "Email:" %><br>
              <%= f.text_field :email, placeholder: "Twój adres email" %>
            </div>
          </div>
          <div class="row">
            <div class="hundred no-margin">
              <%= f.label :content, "Treść:" %><br>
              <%= f.text_area :content, placeholder: "Treść wiadomości" %>
              <%= f.submit "Wyślij wiadomość", class: "ghost-button" %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
    <div class="fifty contact-padding shadow">
      <%= image_tag 'plains.jpg', class: "contact-img contact-height"  %>
      <div class="side-content">
        <div class="row">
          <%= image_tag 'svg/map-pin.svg' %><h3>Nasz adres</h3>
        </div>
        <div class="row sub-text">
          <p>Mada Center 5th floor, 226 Hudson St, New York, NY 10018 US</p>
        </div>
        <div class="row">
          <%= image_tag 'svg/phone.svg' %><h3>Telefon&ensp;&ensp;&ensp;</h3>
        </div>
        <div class="row sub-text">
          <p>+48 123 456 789</p>
        </div>
        <div class="row">
          <%= image_tag 'svg/mail.svg' %><h3>E-Mail&ensp;&ensp;&ensp;&ensp;&ensp;</h3>
        </div>
        <div class="row sub-text">
          <p>GreenEvolution@gmail.com</p>
        </div>
        <div class="row last">
          <%= image_tag 'svg/hand-plant2.svg' %><h2>Czekamy na ciebie!</h2>
        </div>
      </div>
    </div>
  </div>
</section>


