<div class="page-header">
  <%= image_tag "allow/contact.jpg" %>
  <div class="header-text">
    Kontakt
  </div>
</div>


<section class="no-padding">
  <div class="container">
    <div class="main-header">
      <div class="header-hover">
        <h2>Wypełnij formularz kontaktowy:</h2>
        <hr class="thematic-break">
      </div>
    </div>

    <div class="contact-form">
      <div class="text">
        <h3>Formularz kontaktowy</h3>
        <hr>
        <h4>Odpowiemy tak szybko jak to możliwe</h4>
      </div>
      <div class="input">
        <%= form_tag do %>
          <%= label_tag :name, 'name' %>
          <%= text_field_tag :name %>
          <%= label_tag :email, 'email' %>
          <%= email_field_tag :email %>
          <%= telephone_field_tag :phone %>
          <%= label_tag :content, 'content' %>
          <%= text_area_tag :content %>
          <%= submit_tag :submit %>
      <% end %>
      </div>
    </div>
  </div>
</section>