<div class="slideshow-container">
  <% if user_signed_in? %>
    <%= link_to manage_slides_path do %>
      <div class="side-control">
        <p>Zarządzaj<br>slajdami</p>
      </div>
    <% end %>
  <% end %>
  <% @slides.each do |slide| %>
    <div class="slide transparent">
      <% if slide.image.attached? %>
        <%= image_tag rails_blob_path(slide.image), class: "background-image" %>
      <% end %>
      <div class="slide-banner">
        <div class="slide-box">
          <h3><%= slide.title %></h3>
          <p><%= slide.content %></p>
          <%= link_to "Edytuj bieżący slajd", edit_slide_path(slide), class: "button button-success" if user_signed_in? %>
        </div>
      </div>
    </div>
  <% end %>
</div>
<div style="text-align:center;">
  <% @slides.each do %>
    <span class="dot"></span>
  <% end %>
</div>
<section>
  <div class="main-header">
    <div class="header-hover">
      <h2>Nasza Oferta</h2>
      <hr class="thematic-break">
    </div>
  </div>
  <div class="row space-around">
    <% offer = @offers.first %>
    <div class="box">
      <div class="square">
        <div class="border2">
        </div>
        <% if offer.image.attached? %>
          <%= image_tag rails_blob_path(offer.image) %>
        <% end %>
      </div>
      <h3><%= offer.title %></h3>
      <hr>
      <p><%= offer.description %></p>
      <%= link_to "Zobacz więcej...", about_photovoltaics_path, class: "underline" %>
      <%= link_to "Edytuj ofertę", edit_offer_path(offer), class: "button button-success" if user_signed_in? %>
    </div>
    <% offer = @offers.second %>
    <div class="box">
      <div class="square">
        <div class="border2">
        </div>
        <% if offer.image.attached? %>
          <%= image_tag rails_blob_path(offer.image) %>
        <% end %>
      </div>
      <h3><%= offer.title %></h3>
      <hr>
      <p><%= offer.description %></p>
      <%= link_to "Zobacz więcej...", about_heat_pump_path, class: "underline" %>
      <%= link_to "Edytuj ofertę", edit_offer_path(offer), class: "button button-success" if user_signed_in? %>
    </div>
    <% offer = @offers.third %>
    <div class="box">
      <div class="square">
        <div class="border2">
        </div>
        <% if offer.image.attached? %>
          <%= image_tag rails_blob_path(offer.image) %>
        <% end %>
      </div>
      <h3><%= offer.title %></h3>
      <hr>
      <p><%= offer.description %></p>
      <%= link_to "Zobacz więcej...", about_air_conditioning_path, class: "underline" %>
      <%= link_to "Edytuj ofertę", edit_offer_path(offer), class: "button button-success" if user_signed_in? %>
    </div>
  </div>
</section>
<div class="images-container">
  <div class="row">
    <% image = @images.first %>
    <div class="image-box left">
      <div class="img-wrapper left">
        <% if image.image.attached? %>
          <%= image_tag rails_blob_path(image.image) %>
        <% end %>
      </div>
      <div class="box-text">
        <%= image_tag("icons/house-light.png", :alt => "House") %>
        <h2><%= image.text %></h2>
        <%= link_to "Edytuj zdjęcie", edit_designated_image_path(image), class: "button button-success" if user_signed_in? %>
      </div>
    </div>
    <div class="image-border">
    </div>
    <% image = @images.second %>
    <div class="image-box center no-overflow">
      <div class="img-wrapper center">
        <% if image.image.attached? %>
          <%= image_tag rails_blob_path(image.image) %>
        <% end %>
      </div>
      <div class="box-text">
        <%= image_tag("icons/company-light.png", :alt => "Company") %>
        <h2><%= image.text %></h2>
        <%= link_to "Edytuj zdjęcie", edit_designated_image_path(image), class: "button button-success" if user_signed_in? %>
      </div>
    </div>
    <div class="image-border">
    </div>
    <% image = @images.third %>
    <div class="image-box right">
      <div class="img-wrapper right">
        <% if image.image.attached? %>
          <%= image_tag rails_blob_path(image.image) %>
        <% end %>
      </div>
      <div class="box-text">
        <%= image_tag("icons/farm-light.png", :alt => "Farm") %>
        <h2><%= image.text %></h2>
        <%= link_to "Edytuj zdjęcie", edit_designated_image_path(image), class: "button button-success" if user_signed_in? %>
      </div>
    </div>
  </div>
</div>
<section class="no-padding">
  <div class="main-header no-transform">
    <div class="header-hover">
      <h2>Inne informacje</h2>
      <hr class="thematic-break">
    </div>
  </div>
  <% @icons.in_groups_of(2, false).each do |group| %>
    <div class="row">
      <% group.each do |icon| %>
        <div class="icon-box">
          <%= link_to icon.link, class: "no-link" do %>
            <% if icon.image.attached? %>
              <%= image_tag rails_blob_path(icon.image), class: "icon" %>
            <% end %>
            <h4><%= icon.title %></h4>
            <p><%= icon.description %></p>
          <% end %>
          <%= link_to "Edytuj ikonkę", edit_icon_path(icon), class: "button button-success" if user_signed_in? %>
        </div>
      <% end %>
    </div>
  <% end %>
</section>