<div class="page-cover">
  <% if user_signed_in? %>
    <%= link_to edit_sub_page_path(@page.id) do %>
      <div class="side-control">
        <p>Zmień<br>zdjęcie</p>
      </div>
    <% end %>
  <% end %>
  <div class="cut-in">
    <%= image_tag rails_blob_path(@page.image) if @page.image.attached? %>
  </div>
  <div class="header-text">
    <div class="header-background">
      <%= @page.title %>
    </div>
    <div id="scroll-arrow" class="arrow-hover">
      <i class="arrow"></i>
    </div>
  </div>
</div>
<section class="no-padding no-margin smoke-section">
  <div class="main-header">
    <div id="scroll-target" class="header-hover">
      <h2>Oto rozwiązania jakie proponujemy</h2>
      <hr class="thematic-break">
    </div>
  </div>
</section>
<% offer = @offers.first %>
<section class="no-padding no-margin">
  <div class="row offer-height">
    <div class="fifty no-padding">
      <div class="offer align-left">
        <h4><%= offer.header %></h4>
        <h2><%= offer.title %></h2>
        <hr class="float-left">
        <p><%= offer.content %></p>
        <%= link_to "O fotowoltaice...", faq_path(id: 1), class: "ghost-button" %>
        <%= link_to "Edytuj ofertę", edit_offer_paragraph_path(offer.id), class: "ghost-button" if user_signed_in? %>
      </div>
    </div>
    <div class="fifty no-padding offer-height">
      <%= image_tag rails_blob_path(offer.image), class: "offer-img offer-height" if offer.image.attached? %>
    </div>
  </div>
</section>
<% offer = @offers.second %>
<section class="no-padding no-margin">
  <div class="row offer-height">
    <div class="fifty no-padding offer-height">
      <%= image_tag rails_blob_path(offer.image), class: "offer-img offer-height" if offer.image.attached? %>
    </div>
    <div class="fifty no-padding">
      <div class="offer align-right">
        <h4><%= offer.header %></h4>
        <h2><%= offer.title %></h2>
        <hr class="float-right">
        <p><%= offer.content %></p>
        <%= link_to "O pompach ciepła...", faq_path(id: 2), class: "ghost-button" %>
        <%= link_to "Edytuj ofertę", edit_offer_paragraph_path(offer.id), class: "ghost-button" if user_signed_in? %>
      </div>
    </div>
  </div>
</section>
<% offer = @offers.third %>
<section class="no-padding no-margin">
  <div class="row offer-height">
    <div class="fifty no-padding">
      <div class="offer align-left">
        <h4><%= offer.header %></h4>
        <h2><%= offer.title %></h2>
        <hr class="float-left">
        <p><%= offer.content %></p>
        <%= link_to "O klimatyzacji...", faq_path(id: 3), class: "ghost-button" %>
        <%= link_to "Edytuj ofertę", edit_offer_paragraph_path(offer.id), class: "ghost-button" if user_signed_in? %>
      </div>
    </div>
    <div class="fifty no-padding offer-height">
      <%= image_tag rails_blob_path(offer.image), class: "offer-img offer-height" if offer.image.attached? %>
    </div>
  </div>
</section>
<section class="no-padding">
  <div class="row">
      <div class="offer-down header-hover">
        <h1>Jesteś zainteresowany?</h1>
        <hr class="thematic-break">
        <%= button_to "Skontaktuj się z nami!", contact_path, class: "ghost-button" %>
      </div>
  </div>
</section>
