<div class="page-cover">
  <div class="cut-in">
    <%= image_tag "allow/technic_work.jpg" %>
  </div>
  <div class="header-text">
    <div class="header-background">
      Portfolio
    </div>
    <div>
      <i id="scroll-arrow" class="arrow"></i>
    </div>
  </div>
</div>
</div>

<section class="no-padding">
  <div class="main-header">
    <div class="header-hover">
      <h2>Zobacz nasze realizacje</h2>
      <hr class="thematic-break">
    </div>
  </div>
  <div id="gallery" class="container">
    <div class="row">
      <div class="col">
        <%= image_tag "realizations/IMG_20200221_164628.jpg" %>
      </div>
      <div class="col">
        <%= image_tag "realizations/IMG_20200221_164629.jpg" %>
      </div>
      <div class="col">
        <%= image_tag "realizations/IMG_20200404_161050.jpg" %>
      </div>
      <div class="col">
        <%= image_tag "realizations/IMG_20200422_190130.jpg" %>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <%= image_tag "realizations/IMG_20200422_190353.jpg" %>
      </div>
      <div class="col">
        <%= image_tag "realizations/IMG_20200423_124622.jpg" %>
      </div>
      <div class="col">
        <%= image_tag "realizations/IMG_20200509_154012.jpg" %>
      </div>
      <div class="col">
        <%= image_tag "realizations/IMG_20200522_141218.jpg" %>
      </div>
    </div>
  </div>
</section>
<br><br><br><br><br><br><br>

<div id="gallery-modal" class="modal">
  <span id="close-modal" class="close cursor">&times;</span>
  <div class="modal-content">

    <div class="gallerySlides">
      <%= image_tag "realizations/IMG_20200522_141218.jpg" %>
    </div>

    <div class="gallerySlides">
      <%= image_tag "realizations/IMG_20200509_154012.jpg" %>
    </div>

    <div class="gallerySlides">
      <%= image_tag "realizations/IMG_20200423_124622.jpg" %>
    </div>

    <div class="gallerySlides">
      <%= image_tag "realizations/IMG_20200422_190353.jpg" %>
    </div>

    <div class="gallerySlides">
      <%= image_tag "realizations/IMG_20200422_190130.jpg" %>
    </div>

    <div class="gallerySlides">
      <%= image_tag "realizations/IMG_20200404_161050.jpg" %>
    </div>

    <div class="gallerySlides">
      <%= image_tag "realizations/IMG_20200221_164629.jpg" %>
    </div>

    <div class="gallerySlides">
      <%= image_tag "realizations/IMG_20200221_164628.jpg" %>
    </div>

    <a id="previous-slide" class="prev">&#10094;</a>
    <a id="next-slide" class="next">&#10095;</a>

    <div class="caption-container">
      <p id="caption"></p>
    </div>
  </div>
</div>