<html lang="pl">
<head>
  <title>Zarządzanie stroną</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag "admin", media: 'all', 'data-turbolinks-track': 'reload' %>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
</head>
<body class="admin">

<header class="admin-statusbar flex--center">
  <span id="username"><i class="fa fa-user"></i>  <%= link_to('Wyloguj', destroy_user_session_path, method: :delete) %></span>
</header>
<nav class="admin-sidepanel">
  <ul>
    <li>
      <%= link_to admin_index_path do %>
        <i class="fa fa-pencil-square-o"></i>
        Strona główna
      <% end %>
    </li>
    <li>
      <%= link_to admin_index_path do %>
        <i class="fa fa-pencil-square-o"></i>
        O nas
      <% end %>
    </li>
    <li>
      <i class="fa fa-pencil-square-o"></i>Oferta
    </li>
    <li>
      <i class="fa fa-pencil-square-o"></i>Realizacje
    </li>
    <li>
      <i class="fa fa-pencil-square-o"></i>Kontakt
    </li>
    <li>
      <a href="/admin/settings"><i class="fa fa-pencil-square-o"></i>Ustawienia ogólne</a>
    </li>
  </ul>
</nav>
<main class="admin-main">
<%= yield %>
</main>
</body>
</html>