<html lang="pl">
<head>
  <title>Zarządzanie stroną</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag 'admin', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'admin', 'data-turbolinks-track': 'reload' %>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
</head>
<body class="admin">

<header class="admin-statusbar flex--center">
  <span id="username"><i class="fa fa-user"></i>  <%= link_to('Wyloguj', destroy_user_session_path, method: :delete) %></span>
</header>
<nav class="admin-sidepanel">
  <ul>
      <%= link_to admin_index_path do %>
        <li>
        <i class="fa fa-pencil-square-o"></i>
        Strona główna
        </li>
      <% end %>
      <%= link_to admin_index_path do %>
      <li>
        <i class="fa fa-pencil-square-o"></i>
        O nas
      </li>
      <% end %>
    <li>
      <i class="fa fa-pencil-square-o"></i>Oferta
    </li>
      <%= link_to realizations_admin_path do %>
      <li>
        <i class="fa fa-pencil-square-o"></i>Realizacje
      </li>
        <% end %>
    <li>
      <i class="fa fa-pencil-square-o"></i>Kontakt
    </li>
    <%= link_to settings_path do %>
      <li>
        <i class="fa fa-pencil-square-o"></i>Ustawienia ogólne
      </li>
    <% end %>
  </ul>
</nav>
<main class="admin-main">
<%= yield %>
</main>
</body>
</html>